*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(189, 29, 120, 0.15); 
}

nav{
    align-items:center;
    align-content: center;
    align-self: center;
  
}

nav a{
    text-decoration: none;
    padding: 1em;
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(189, 29, 120);
    
    
}

nav a:hover{
    color: rgb(94, 81, 162);
}

body{
    background-color: rgba(245, 182, 209, 0.2);
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
}

h1{
    font-family: "Notable";
    font-size: 1em;
    font-weight: 400;
    font-size: 3em;
    margin: 3em;
    text-align: center;
    color: rgb(246, 199, 0);

}

h2{
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(246, 199, 0);
    text-align: center;
    padding-bottom: 5%;
}

#logoOne{
    width: 9%;
    padding: 0em;
    margin-left: 0em;
    
}

ul{
    list-style: disc;
    display: grid;
    align-items: center;
}

li{
    margin-left: 2em;
    margin-bottom: 0.5em;
}

section{
   
    display: block;
    margin-bottom: 3em;
}

#grid-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;

}



#img1{
    background-image: url("../img/pp.png");
    grid-column: 1/3;
    grid-row: 1;
    background-size: cover;
    background-position: center;
}

.img1, .img2, .img3 {
    background-size: cover;
    background-position: center;
}


.text1{
    /* align-items: center; */
    justify-content: right;
    margin: 1em;
    padding: 1em;
    background-color: pink;
}

#text2{
    grid-column: 3/4;
    grid-row: 1;
}

.text2{
    grid-column: 1/2;
    grid-row: 2;
    background-color: pink;
}

.text3{
    grid-column: 3/4;
    grid-row: 3;
    background-color: pink;
}

#img2{
    background-image: url("../img/pp2.png");
    grid-column: 2/4;
    grid-row: 2;
}


#img3{
    background-image: url("../img/music.png");
    grid-column: 1/3;
    grid-row: 3;
}

.img3{
    background-size: cover;
    background-position: center top;
    grid-row-start: 3;
}

.container2{
    grid-row-start: 4;
    background-color: rgb(189, 29, 120);

}

#container2{
    grid-column: 1/4;
    grid-row: 4;
}

.partner{
    color: white;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    text-align: left;

}

.partner2{
    margin: 0;
    padding-left: 2%;
    padding-bottom: 5%;
    color: white;
}


/* #imgs{
    width: 90%;
    margin-left: 15%;
    align-self: center;
}

#protest{
    width: 90%;
    margin-right: 15%;
} */

