*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(189, 29, 120, 0.15); 
}

nav{
    align-items:center;
    align-content: center;
    align-self: center;
  
}

nav a{
    text-decoration: none;
    padding: 1.25em;
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(189, 29, 120);
    
    
}

nav a:hover{
    color: rgb(94, 81, 162);
}

body{
    background-color: rgba(245, 182, 209, 0.2);
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
}

h1{
    font-family: "Notable";
    font-size: 1em;
    font-weight: 400;
    font-size: 3em;
    margin: 3em;
    text-align: center;
}

h2{
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(246, 199, 0);
    text-align: center;
    padding-bottom: 5%;
}

#logoOne{
    width: 13%;
    padding: 0em;
    margin-left: 0em;
    
}

ul{
    list-style: disc;
    
}

li{
    margin-left: 2em;
    margin-bottom: 0.5em;
}

section{
    /* margin-bottom: 5em; */
    display: block;
}

#grid-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

}

#one{
    background-image: url("../img/pp.png");
    grid-column: 1/2;
}

.one, .four, .five {
    background-size: cover;
    background-position: center;
}

.two, .three, .six{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.two{
    grid-column: 1/2;
    grid-row: 1;
}

.three{
    grid-column: 2/3;
    grid-row: 2;
}

.six{
    grid-column: 3/4;
    grid-row: 3;
}

#four{
    background-image: url("../img/pp2.png");
    grid-column: 2/3;
    grid-row: 2;
}


#five{
    background-image: url("../img/music.png");
    grid-column: 3/4;
    grid-row: 3;
}

.five{
    background-size: cover;
    background-position: center top;
    grid-row-start: 3;
}



/* #imgs{
    width: 90%;
    margin-left: 15%;
    align-self: center;
}

#protest{
    width: 90%;
    margin-right: 15%;
} */

