*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(245, 182, 209); 
    z-index: 10000;
}

nav{
    align-items:center;
    align-content: center;
    align-self: center;
  
}

nav a{
    text-decoration: none;
    padding: 1em;
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(189, 29, 120);
    
    
}

nav a:hover{
    color: rgb(94, 81, 162);
}

body{
    background-color: rgba(245, 182, 209, 0.2);
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;

}

h2{
    font-family: "Notable";
    font-size: 1.875em;
    font-weight: 50;
    color: rgb(246, 199, 0);
    text-align: center;
    padding-bottom: 5%;
}

h1{
    font-family: "Notable";
    font-size: 4em;
    font-weight: 50;
    color: rgb(246, 199, 0);
    text-align: center; 
    margin-top: 3%;
}

#logoOne{
    width: 9%;
    padding: 0em;
    margin-left: 0em;
    
}



.imgg{
    width: 100%;
    align-self: center;
    align-content: center;
}

.stickerimg{
    width: 65%;
    align-self:flex-start;
    align-content: flex-start;
}

.posterimg{
    width: 50%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    text-align: center;
    gap: 1em;
    justify-items: center;
}

p{
    background-color: rgb(189, 29, 120);
    border-radius: 1.5em;
    width: 35%;
    height: 25%;
    text-align: center;
    align-items: center;
    align-content: center;
    align-items: center;
    color:white;

}

p:hover{
    background-color: rgb(94, 81, 162);
}

.button2{
    background-color:rgb(189, 29, 120);
}

.button2:hover{
    background-color: rgb(246, 199, 0);
}

.button3{
    background-color: rgb(189, 29, 120);
}

.button3:hover{
    background-color: rgb(94, 81, 162);
}

.button4{
    background-color:rgb(189, 29, 120);
}

.button4:hover{
    background-color: rgb(246, 199, 0);
}

.button5{
    background-color: rgb(189, 29, 120);
}

.button5:hover{
    background-color:rgb(94, 81, 162);
}

.button6{
    background-color: rgb(189, 29, 120);
}

.button6:hover{
    background-color: rgb(246, 199, 0);
}



